.botao{
    border: 1px solid #999;
    height: 26px;
    padding: 5px 15px;
    width: 90px;
}
.botao2{
    border: 1px solid #dd44d5;
    height: 26px;
    padding: 5px 15px;
    width: 100px;
}
.botao3{
    border: 1px solid #8a17cc;
    height: 26px;
    padding: 5px 15px;
    width: 100px;
}
.caixa{
    background-color: #dd131375;
    width: 250px;
}

.caixa-com-padding{
    background-color: #8a17cc73;
    padding: 0 25px;
    width: 150px;
}
